html[data-theme="dark-mode"] {
  --background-color: #1b1b20;
  --background-color-variant: #3d3d4a;
  --background-color-second-variant: #6b6b86;
  --background-color-input-variant: #313146e8;
  --background-color-right: #358606;
  --background-color-kinda-right: #b57e14;
  --background-color-wrong: #2c2c3a;

  --text-color: whitesmoke;
  --text-color-select: #1b1b20;
  --text-color-variant: #9d9d9d;
  --text-color-placeholder: #bebebe;
}

* {
  padding: 0;
  margin: 0;
  user-select: none;
  color: var(--text-color);
  font-family: 'Dosis', sans-serif;
}

#root, html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
}

header {
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 480px;
}

.grid {
  row-gap: 5px;
  display: grid;
  width: 100%;
  flex-grow: 1;
  gap: .5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-content: center;
}

.app {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 0 10px;
}

.tile {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-variant);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.tile span {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 34px;
  text-transform: uppercase;
}

.keyboard {
  margin: 0 auto;
  width: 100%;
}

.keys {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: .3rem;
  grid-template-rows: repeat(4, 1fr);
  margin: 0 auto;
}

button {
  padding: 15px 0px;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 18px;
  background-color: var(--background-color-variant);
  outline: 0;
  border: none;
}

.spacer {
  grid-column-end: 2;
  grid-column-start: 1;
}

.backspace {
  grid-column-end: 12;
  grid-column-start: 9;
  padding: 0px !important;
  font-size: 24px;
}

.play {
  grid-column-end: 12;
  grid-column-start: 1;
  font-size: 16px;
  letter-spacing: .2rem;
  background: var(--background-color-second-variant);
}

header span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1pt;
}

.fas {
  width: 100%;
  height: auto;
}

.play--area {
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: 320px;
  margin: 0 auto;
}

main {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

header, section {
  margin: 1rem 0;
}

.container {
  aspect-ratio: 1/1.1;
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  max-height: 400px;
  position: relative;
  max-width: 98vw;
}

.input {
  background-color: var(--background-color-input-variant);
  height: 100%;
}

.cursor::after {
  -webkit-animation: blink 1s ease-in-out infinite;
  animation: blink 1s ease-in-out infinite;
  background: var(--text-color);
  bottom: .5rem;
  content: "";
  height: .2rem;
  position: absolute;
  left: 1rem;
  right: 1rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal-wrapper {
  position: fixed;
}

.modal-wrapper, .modal-overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.modal-content {
  height: 100%;
  position: relative;
  z-index: 2;
  overflow: auto;

}

.modal-overlay {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  transition: background 2s;
  z-index: 1;
}

.modal {
  border-radius: 20px;
  box-shadow: 6px 6px 8px rgba(0,0,0,0.75);
  box-sizing: border-box;
  padding: 20px;
  width: 480px;
  min-height: 200px;
  background-color: var(--background-color-wrong);
  align-self: center;
  margin: 2rem auto;
  text-align: center;
  max-width: 95vw;
}

.modal-inner-top {
  display: flex;
  justify-content: flex-end;
}

.modal-inner-mid h2 {
  text-align: center;
}

.modal-inner-bottom {
  border-top: 1px solid white;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto;
  gap: .5rem;
}
/* TODO MOVE THIS */
@media only screen and (max-width: 380px) {
  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* TODO MOVE THIS */
@media only screen and (max-height: 580px) {
  header {
    margin: 5px 0;
  }

  .grid {
    padding: 0;
    flex-grow: 0; 
    gap: .3rem;
    row-gap: .2rem;
    grid-template-rows: auto;
    align-content: center;
  }

  .container {
    aspect-ratio: auto;
    flex-grow: 0;
    gap: 1.5rem;
  }

  .tile {
    width: 6vh;
    height: 6vh;
  }

  .tile span {
    font-size: 2vw;
  }

  .tile {
    border-radius: .2rem;
  }

  .keyboard button, .spacer {
    display: none;
  }

  .play {
    display: block !important;
  }

  button.play {
    padding: 12px 0;
    font-size: 14px;
    grid-column-end: 10;
    grid-column-start: 3;
  }

  .keys {
    grid-template-rows: 1fr;
    gap: .2rem;
  }

  .left-keys, .right-keys {
    display: grid !important;
  }

  .cursor::after {
  bottom: .3rem;
  height: .1rem;
  left: .5rem;
  right: .5rem;
  }
}

.share {
  font-size: 1.1rem;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}

.share i {
  margin-right: 1rem;
  font-size: 24px;
}

.share, .close {
  cursor: pointer;
}

.stat-number {
  font-size: 22px;
}

.contact {
  line-height: 1.5;
  margin: 0 auto;
  font-size: .9rem;
  padding: 1rem .5rem;
  display: flex;
  justify-content: center;
}

.contact div:nth-child(1) {
  border-right: 1px solid white;
  padding-right: 20px;
}

.contact div:nth-child(2) {
  padding-left: 20px;
}

.stats-guess-container {
  margin: 1rem auto;
}

.stats-guess-content {
  row-gap: .2rem;
  display: flex;
  flex-direction: column;
}

.stats-guess {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: .2rem;
  font-size: .9rem;
  padding-top: .5rem;
}

.correct-word, .result-text {
  margin: 1rem auto;
}

.correct-word h3 {
  font-weight: 400;
}

.word-does-not-exist {
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  background: #3d3d4a;
  width: fit-content;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  animation: 4s linear slideIn;
}

.keys button.flip, .tile.flip, .example-tile.flip {
  animation: .5s linear flip;
}


@keyframes slideIn {
  0% {
    top: -15%;
  }

  5% {
    top: 5%;
  }
  
  90% {
    top: 5%;
  }

  100% {
    top: -15%;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.tile.faulty {
  animation: .5s linear faulty;
  animation-iteration-count: 3;
}

@keyframes faulty {
  0% {
    transform:translateX(0px);
  }
  10% {
    transform:translateX(8px);
  }
  20% {
    transform:translateX(0px);
  }
  30% {
    transform:translateX(-8px);
  }
  40% {
    transform:translateX(0px);
  }
  50% {
    transform:translateX(8px);
  }
  60% {
    transform:translateX(0px);
  }
  70% {
    transform:translateX(-8px);
  }
  80% {
    transform:translateX(0px);
  }
  90% {
    transform:translateX(8px);
  }
  100% {
    transform:translateX(0px);
  }
}

.tile.jumpy {
  animation: .5s linear jumpy;
  animation-iteration-count: 3;
}


@keyframes jumpy {
  0% {
    transform:translateY(0px);
  }
  25% {
    transform:translateY(12px);
  }
  50% {
    transform:translateY(0px);
  }
  75% {
    transform:translateY(-12px);
  }
  100% {
    transform:translateY(0px);
  }
}

.modal {
  animation: 1s modalSlide;
  animation-iteration-count: 1;
}

.modal-overlay {
  animation: 1s modalOverlay;
  animation-iteration-count: 1;
}

@keyframes modalSlide {
  0% {
    transform:translateY(-2000px);
  }
  100% {
    transform:translateY(0px);
  }
}

@keyframes modalOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.how-to {
  text-align: left;
}

.example-grid-container {
  margin: .5rem auto;
  background: #16161d;
  padding: 20px 20px;
  border-radius: 20px;
}

.example-grid-container h2 {
  margin: 0 auto;
}

.example-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 1rem auto;
  gap: .5rem;
  scale: .9;
}

.example-tile {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-variant);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1/1.1;
}

.example-tile span {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 34px;
  text-transform: uppercase;
}

.info-text span {
  padding: 5px;
  line-height: 1.7;
  border-radius: 5px;
}

.info-tips {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.info-tips div, .info-text span {
  user-select: text;
}

.right {
  background-color: var(--background-color-right);
}

.kinda {
  background-color: var(--background-color-kinda-right);
}

.wrong {
  background-color: var(--background-color-wrong);
}

/* split keyboard */
.left-keys, .right-keys {
  display: none;
  align-self: center;
  gap: .4rem;
}

.left-keys {
  order: 1;
  grid-template-columns: repeat(5, 1fr) !important;
  grid-template-rows: repeat(3, 1fr) !important;
}

.grid {
  order: 2;
}

.right-keys {
  order: 3;
  grid-template-columns: repeat(6, 1fr) !important;
  grid-template-rows: repeat(2, 1fr) !important;
}

.right-keys button, .left-keys button {
  padding: .5rem;
  border-radius: .2rem;
}

.right-keys .split-backspace {
  grid-column-end: 7;
  grid-column-start: 3;
}